html {
    display: flex;
    background-color: black;
}

body {
    aspect-ratio: 9 / 16;
    height: 100vh;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto;
    background-color: white;
}

div {
    padding: 1vh;
}

h1 {
    font-size: 3vh;
}

p, span {
    font-size: 2vh;
}


.date-picker div {
    padding: 0;
} 
.date-picker input {
    height: 4.5vh;
    width: 10vh;
    justify-content: center;
    border-radius: 0.5vh;
    border-width: 0.3vh;
    border-color: cornflowerblue;
    border-style: solid;
    color: 'white';
    font-size: 2vh;
}
.react-datepicker-wrapper {
    width: 10vh !important
}

.route-info div {
    padding: 0;
}
.route-info h1 {
    font-size: 3vh;
}
.route-info h2 {
    font-size: 2.5vh;
}
.route-info h3 {
    font-size: 2vh;
}
.route-info h4 {
    font-size: 1.5vh;
}
.route-info h5 {
    font-size: 1vh;
}
.route-info h6 {
    font-size: 0.5vh;
}